<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kot.amits.com.kotsystem">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Order_screen"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.Manager_Dashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.main_screen"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.Design.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.Branch_selection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.select_item" />
        <activity android:name=".activity.category_selection" />
        <activity android:name=".activity.Purchase_Activity" />

        <service
            android:name="com.phi.phiprintlib.PrintService"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.Add_supplier"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Expense_activity"
            android:parentActivityName=".activity.Manager_Dashboard" />
        <activity
            android:name=".activity.printer_connect_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.feedback_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.recyclerview_test_activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.Manage_employee" />
        <activity android:name=".activity.settings_activity" />
        <activity android:name=".activity.login_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.manage_sales" />
        <activity android:name=".activity.manage_salary" />
        <activity android:name=".activity.view_bill_items" />
        <activity android:name=".activity.manage_feedback" />
        <activity android:name=".activity.manage_feedback_items" />
        <activity android:name=".activity.manage_attendance" />
        <activity android:name=".activity.manage_category"></activity>
    </application>

</manifest>